.login--image, #loginb123{
    display:inline-block;
}


.login--pop{
    color: white;
    height: 19rem;
    width:100%;
    transform: translate(-10% , -5rem);
    
    border-radius: 15px;
    box-sizing: border-box;
    padding: 15px;
    display: none;
    flex-flow: column;
    justify-content:baseline;
    box-shadow: 0px 4px 15px 2px black;

    background-image:url("https://wallpapers.com/images/hd/abstract-background-6m6cjbifu3zpfv84.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: translate(33px 30px);
    transition: all 0.3s;


}


#login--popid:hover{
    box-shadow: 0px 2px 15px 1px rgb(56, 175, 230);
    

}
.login--pop a{
    color: lightcyan;
}

.login--pop span{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#login2{
    background-color: rgb(40, 35, 35);
    outline: none;
    box-shadow: 0px 2px 15px 1px cyan;
    border: 2px solid cyan;
    border-radius: 5px;
    color: rgb(125, 243, 243);
    text-align: center;
    margin: 15px 0px 0px 0px;
    font-size: 1.4rem;
    font-family:Helvetica;
}

#usr,#passwd{
    margin: 15px 0px 5px 0px;
    display: block;
    
}
#usr:hover,#passwd:hover{
    text-decoration: underline;
}

#usrin,#passwdin{
    border-radius: 5px;
    outline: none;
    border: 1px solid cyan;
    padding: 3px 15px;
    width: calc(100% - 30px);
    backdrop-filter: blur(20px);
    background-color: transparent;
    color: white;

    box-shadow: 0px 1px 10px 0.5px rgb(49, 151, 174);
    border: 2px solid cyan;
}

#checkb,#remember,#forgot{
    margin: 13px 0px;
}

.backnlogin{
    margin-top: 10px;
    display: flex;

    
}